@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Gentium Book Plus */
@font-face {font-family: 'Gentium Book Plus';font-style: normal;font-weight: 400;src: url(/assets/fonts/gentium_book_plus/GentiumBookPlus-Regular.ttf);}
@font-face {font-family: 'Gentium Book Plus';font-style: normal;font-weight: 700;src: url(/assets/fonts/gentium_book_plus/GentiumBookPlus-Bold.ttf);}
@font-face {font-family: 'Gentium Book Plus';font-style: italic;font-weight: 400;src: url(/assets/fonts/gentium_book_plus/GentiumBookPlus-Italic.ttf);}
@font-face {font-family: 'Gentium Book Plus';font-style: italic;font-weight: 700;src: url(/assets/fonts/gentium_book_plus/GentiumBookPlus-BoldItalic.ttf);}

/* Macondo */
@font-face {font-family: 'Macondo';font-style: normal;font-weight: 400;src: url(/assets/fonts/macondo/Macondo-Regular.ttf);}

/* Skranji */
@font-face {font-family: 'Skranji';font-style: normal;font-weight: 400;src: url(/assets/fonts/skranji/Skranji-Regular.ttf);}
@font-face {font-family: 'Skranji';font-style: normal;font-weight: 700;src: url(/assets/fonts/skranji/Skranji-Bold.ttf);}

/* Syncopate */
@font-face {font-family: 'Syncopate';font-style: normal;font-weight: 400;src: url(/assets/fonts/syncopate/Syncopate-Regular.ttf);}
@font-face {font-family: 'Syncopate';font-style: normal;font-weight: 700;src: url(/assets/fonts/syncopate/Syncopate-Bold.ttf);}